#textDIV{
	position: absolute;
	top: 5px;
}

#buttonCentreDIV{
	position: absolute;
	top: calc(50% + 125px);
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.icon{
    position: absolute;
    /* transform: translate(-100%, -100%); */
    top: -30px;
    left: 165px;
    width: 175px;
    height: auto;
}

