

#titleDIV{
	position: absolute;
	left: 50%;
	top: -160px;
    margin-right: -50%;
    transform: translate(-50%, 0%);
	width: 100%;
}

#userEntryDIV{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -70%);
	text-align: center;
}
#sbDIV{
	position: absolute;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 30%);
}

.labelText{
	color: var(--font-color);
	font-family: "Roboto","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-size: 24px;
	padding-bottom: 20px;
	font-weight: normal;

}


.dataInput{
	padding: 5px;
	border-radius: 20px;
	height: 30px;
	width: 300px;
	font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-size: 22px;
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	
	outline: none;
	box-shadow: none;
	border-style: solid;
}
.errorText{
	color: rgb(255, 0, 0);
	font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-size: 22px;
	font-weight: bold;
}

.back-button{
	position: absolute;
	top: 90px;
}










